Source: tinydict
Section: core
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 4), cdbs, libz-dev, autoconf, libtool, automake, pkg-config
XCS-Cross-Host-Build-Depends: debhelper (>> 4), cdbs, cdbs-embedded, autoconf, libtool, automake, pkg-config
XCS-Cross-Build-Depends: libz1-dev
Priority: optional
Standards-Version: 3.6.2

Package: libtinydict
Architecture: any
Depends: ${shlibs:Depends}
Description: dict format support library
 TinyDict is standard .dict dictionary format reading library.
 .
 Main features:
  * small code size
  * small RAM size required to work
  * supports uncompressed and .dz compressed data files
  * exact match and prefix search supported
 .
  Homepage: http://sourceforge.net/projects/tinydict/

Package: libtinydict-dev
Architecture: any
Section: libdevel
Depends: libtinydict (= ${Source-Version}), libc6-dev | libc-dev, libz1-dev
Description: Development files for tinydict
 TinyDict is standard .dict dictionary format reading library.
 .
 Main features:
  * small code size
  * small RAM size required to work
  * supports uncompressed and .dz compressed data files
  * exact match and prefix search supported
 .
  Homepage: http://sourceforge.net/projects/tinydict/
